<div class="header">
  <div class="d-flex justify-content-between">
    <div class="">
      <h1 class="appheading">Book-Lending-App</h1>
    </div>
    <div *ngIf=islogin_or_register>
    <!-- <div class="">
     <h6>welcome:</h6>
    </div> -->
    <div class="d-flex">
        <div  [routerLink]="['/Searchbooks']" class="marginRight">
          <h6>Home</h6>
        </div>
        <div [routerLink]="['/library']" class="marginRight">
          <h6>All Books</h6>
        </div>
        <div [routerLink]="['/mybooks']" class="marginRight">
          <h6>My Books</h6>
        </div>

        <div class="marginRight " (click)="Logout()">
          <h6>Logout</h6>
        </div>
    </div>
  </div>
  </div>
    
  </div>
  