


.header{
    padding: 12px 8px 6px 8px;
    background-color: #8ea8bb;
}
  

.aligned-with-icon{
    position: absolute;
    top: 19px;
    margin-left: 7px;
}

.appheading{
    font-family: serif;
    font-size: larger;
    font-weight: 400;
}

.marginRight{ 
    margin-right: 20px;

}
.cursor-pointer{
    cursor: pointer;
}
.navHead{
  font-weight: 500;
}


.activeLink{
 padding :1px 10px 1px 10px;
 border-radius: 6px;
 background-color: #ffffff;
 font-weight: 500;
}
