<div class="header">
  <div class="d-flex justify-content-between">
    <div class="">
      <h1 class="appheading">Book-Lending-App</h1>
    </div>
    <div class="" *ngIf=islogin_or_register >
      <h6>Welcome : {{userEmail}}</h6>
     </div>
    <div *ngIf=islogin_or_register>
    <div class="d-flex">
        <div  [routerLink]="['/Searchbooks']"  routerLinkActive="activeLink" class="marginRight">
          <div class="navHead">Home</div>
        </div>
        <div [routerLink]="['/library']"  routerLinkActive="activeLink" class="marginRight">
          <div class="navHead">All Books</div>
        </div>
        <div [routerLink]="['/mybooks']" routerLinkActive="activeLink" class="marginRight">
          <div class="navHead">My Request</div>
        </div>
        <div [routerLink]="['/issuebooks']" routerLinkActive="activeLink" class="cursor-pointer marginRight">
          <i class="bi bi-bell-fill position-relative"></i>
          <span class="position-absolute  translate-middle badge rounded-pill bg-danger">{{booklistCount}}
          </span>
        </div>

        <div class="marginRight " routerLinkActive="activeLink" (click)="Logout()">
          <div class="navHead">Logout</div>
        </div>
    </div>
  </div>
  </div>
    
  </div>
  