<div class="p-4">
    <div class="row">
      <div class="col-md-3" *ngFor="let book of myBooklist"> 
        <div class="custom-card">
          <div class="custom-card-body">
            <h5 class="card-title">{{ book?.title ? book?.title : "" }}</h5>
            <p>Publish year : {{ book?.publish_date ? book?.publish_date :"" }}</p>
            <p>Author : {{ book?.author_name ? book?.author_name:""}}</p>
            <em class="less-focused-text"><b>Status</b>: 
            {{book.is_issuedbook == "issued" ? 'Approved' 
             : book.is_issuedbook == "rejected" ? "Requested book was rejected"
             : book.is_issuedbook == "requestback" ? "Requested book to library" 
             : 'Pending' }}</em><br>
          </div>
          <div class="d-flex justify-content-end pt-4">
            <button  class="btn btn-primary"  (click)="returnBooktoLibraray(book)"
             [disabled]="book.is_issuedbook == 'issued'  ? false :   
                         book.is_issuedbook == 'requestback' ? false : true">Return </button>
          </div>
        </div>
      </div>
</div>
</div>

