
<div  class="detailview">
    <div class="container">
          <h1 class="displayhead">Request book</h1>
          <form>
            <div class="inputfields">
            <label>Requester name</label>
            <input type="text"/>
            <label>Requested Date</label>
            <input type="date"/>
          </div>
          </form>
          <div class="actionbtns">
            <button type="submit" class="btn-register rounded">Send</button>
          </div>
      </div>
  </div> 

 