
<!-- <div  class="detailview">
    <div class="container">
          <h1 class="displayhead">Request book</h1>
          <form>
            <div class="inputfields">
            <label>Requester name</label>
            <input type="text"/>
            <label>Requested Date</label>
            <input type="date"/>
          </div>
          </form>
          <div class="actionbtns">
            <button type="submit" class="btn-register rounded">Send</button>
          </div>
      </div>
  </div>  -->

  <!-- <section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card shadow-lg">
                <img> 
                <div class="card-body">
                    <p class="h3">paris</p>
                    <p> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                    <button class="btn-primary">Add to Library</button>

                </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

