<div  class="container text-center border border-2 mt-4 ">
    <div class="row border border-2">
      <div class="col border border-1 p-2 fw-bold">Title</div>
      <div class="col border border-1 p-2 fw-bold">author</div>
      <div class="col border border-1 p-2 fw-bold">status</div>
      <div class="col border border-1 p-2 fw-bold">Request</div>
    </div>
    <!-- <div class="row" *ngFor="let book of bookDataSource">
      <div class="col border border-1 p-1">{{book.title}}</div>
      <div class="col border border-1 p-1">{{book.author_name}}</div>
      <div class="col border border-1 p-1"></div>
      <div class="col border border-1 p-1"><button>Request</button></div>
    </div> -->
  </div>
