<div class="container">
    <form [formGroup]="UserLoginForm">
      <div class="d-flex justify-content-center">
        <h1 class="displayhead">Login</h1>
      </div>
      <div class="inputfields">
  
      <div>
        <label class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          [class.is-invalid]="UserLoginForm.get('email')?.invalid &&
                              (UserLoginForm.get('email')?.dirty ||
                              UserLoginForm.get('email')?.touched)"/>
        <div *ngIf="UserLoginForm.get('email')?.invalid &&
                    (UserLoginForm.get('email')?.dirty ||
                    UserLoginForm.get('email')?.touched)" class="errorMsg">
          <div *ngIf="UserLoginForm.get('email')?.errors?.['required']">
            This field is required.
          </div>
          <div *ngIf="UserLoginForm.get('email')?.errors?.['minlength']">
            This field must have at least 1 character.
          </div>
          <div *ngIf="!UserLoginForm.get('email')?.errors?.['required'] && !UserLoginForm.get('email')?.errors?.['minlength'] 
                        && !UserLoginForm.get('email')?.errors?.['maxlength'] && UserLoginForm.get('email')?.errors?.['pattern']" >
            Invalid email format.
          </div>
        </div>
      </div>
  
      <div>
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <div *ngIf="UserLoginForm.get('password')?.invalid &&
                    (UserLoginForm.get('password')?.dirty ||
                    UserLoginForm.get('password')?.touched) "class="errorMsg">
          <div *ngIf="UserLoginForm.get('password')?.errors?.['required']">
            This field is required.
          </div>
          <div *ngIf="UserLoginForm.get('password')?.errors?.['minlength']">
            This field have at least 5 characters.
          </div>
        </div>
      </div>
    </div>
      <div class="mt-4">
        <button type="submit" (click)="Loginsubmit()" class="btn-register rounded">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login</button>
      </div>
  
    </form>
  </div>
  
