.searchbox{
    margin-top: 20px;
    margin-left: 300px;
}

.searchbox input[type=text]{
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
}

.searchbox button{
    background-color: #2185d0;
    padding: 5px;
    margin-left: 10px;
}
.loading{
  width: 100%;
}
.custom-card{
    display: flex;
    flex-direction: column;
    padding: 6px;
    border: 1px solid #2185d0;
    border-radius: 2px;
    margin-bottom: 10px;
    height: 95%;
}
.custom-button{
    display: flex;
    width: 100%;
}
.custom-button button{
    justify-content: end;

}

.liblistview{
    background-color: rgb(86 69 69 / 40%);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
  }
.container2  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 350px;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
    padding: 15px;
  }
  
.btnClass {
    padding:2px 8px 2px 8px;
     border-radius: 10px;
     border-color: #2185d0;
  }
  