.searchbox{
    margin-top: 20px;
    margin-left: 300px;
}

.searchbox input[type=text]{
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 50%;
    background: #f1f1f1;
}

.searchbox button{
    background-color: #2185d0;
    padding: 5px;
    margin-left: 10px;
}
.loading{
  width: 100%;
}
.custom-card{
    display: flex;
    flex-direction: column;
    padding: 6px;
    border: 1px solid #2185d0;
    border-radius: 2px;
    margin-bottom: 10px;
    height: 95%;
}
.custom-button{
    display: flex;
    width: 100%;
}
.custom-button button{
    justify-content: end;

}